.header {
    width: 100%;
    background: rgb(212, 212, 212);
    text-align: center;
    padding: 10px;
}

.form {
    padding: 50px;
    
}

.projectos {
    padding: 10px;
    margin: 1%;
}

.interests {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.p1 {
    margin-left: 7px;
}